.nav-link {
  @apply .block .text-white .no-underline .uppercase .border-developmint-lighter .transition-border-color .my-2;
  @screen lg {
    @apply .mt-4 .mb-1 .mx-6 ;
  }
}

.nav-link:hover {
  @apply .text-developmint-lighter;
  @screen lg {
    @apply .border-b;
  }
}
