.nav-link {
  @apply .block .text-white .no-underline .uppercase .border-developmint-400 .transition-border-color .my-2;
  @screen lg {
    @apply .mt-4 .mb-1 .mx-6 ;
  }

  &:hover {
    @apply .text-developmint-400;
    @screen lg {
      @apply .border-b;
    }
  }

}
