.bg-hero {
  background-size: cover;
  background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 16, 0.65)), url("~/assets/img/bg/hero_sm.jpg");

  @screen md {
    background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 16, 0.65)), url("~/assets/img/bg/hero.jpg");
  }
}

.bg-about-us {
  background-image: linear-gradient(rgba(11, 7, 16, 0.6), config('colors.rains-dark')), url("~/assets/img/bg/about-us_sm.jpg");
  background-size: cover;
  background-position: center;

  @screen md {
    background-image: linear-gradient(rgba(11, 7, 16, .6), rgba(11, 7, 16, .6) 80%, config('colors.rains-dark')), url("~/assets/img/bg/about-us.jpg");
    background-position: top;
  }
}

.bg-work {
  background-size: cover;
  background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 16, 0.6)), url("~/assets/img/bg/work_sm.jpg");
  background-position: bottom;
  @screen md {
    background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 16, 0.6)), url("~/assets/img/bg/work.jpg");
    background-position: center;
  }
}

.bg-404 {
  background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 35, 0.65)), url("~/assets/img/bg/404.jpg");
  background-size: cover;
  background-position: center;
}

.bg-footer {
  background-image: linear-gradient(rgba(9, 0, 16, 1), rgba(11, 7, 16, 0.97));
  background-size: cover;
}

.bg-cta-end {
  background-size: cover;
  background-image: linear-gradient(rgba(9, 0, 16, 0.25), rgba(11, 7, 16, 1)), url("~/assets/img/bg/contact_sm.jpg");

  @screen md {
    background-image: linear-gradient(rgba(9, 0, 16, 0.25), rgba(11, 7, 16, 1)), url("~/assets/img/bg/contact.jpg");
    background-position: bottom;
  }
}

.bg-gradient-rains-rains-dark {
  background-image: linear-gradient(to right, config('colors.rains'), config('colors.rains-dark'));
}

@variants hover {
  .bg-gradient-rains-dark-rains {
    background-image: linear-gradient(to left, config('colors.rains'), config('colors.rains-dark'));
  }
}

.bg-gradient-developmint-lighter-rains-lighter-rains-lightest {
  background-image: linear-gradient(23deg, config('colors.developmint-lighter'), config('colors.rains-lighter'), config('colors.rains-lightest'));
}
