@tailwind preflight;

@import "components/nav";

@tailwind components;

@tailwind utilities;

@import "animations";
@import "backgrounds";
@import "shame";

// About us
.bg-about-us {
  background-image: linear-gradient(rgba(11, 7, 16, 0.6), config('colors.rains-dark')), url("~assets/img/bg/about-us_sm.jpg");
  background-size: cover;
  background-position: top;

  @screen md {
    background-image: linear-gradient(rgba(11, 7, 16, .6), rgba(11, 7, 16, .6) 80%, config('colors.rains-dark')), url("~assets/img/bg/about-us.jpg");
    background-position: top;
  }
}

// Work
.bg-work {
  background-size: cover;
  background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 16, 0.6)), url("~assets/img/bg/work_sm.jpg");
  background-position: bottom;
  @screen md {
    background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 16, 0.6)), url("~assets/img/bg/work.jpg");
    background-position: center;
  }
}

// Index
.bg-gradient-rains-rains-dark {
  background-image: linear-gradient(to right, config('colors.rains'), config('colors.rains-dark'));
}

.bg-hero {
  background-size: cover;
  background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 16, 0.65)), url("~assets/img/bg/hero_sm.jpg");

  @screen md {
    background-image: linear-gradient(config('colors.rains-dark'), rgba(11, 7, 16, 0.65)), url("~assets/img/bg/hero.jpg");
  }
}

.bg-cta-end {
  background-size: cover;
  background-image: linear-gradient(rgba(9, 0, 16, 0.25), rgba(11, 7, 16, 1)), url("~assets/img/bg/contact_sm.jpg");

  @screen md {
    background-image: linear-gradient(rgba(9, 0, 16, 0.25), rgba(11, 7, 16, 1)), url("~assets/img/bg/contact.jpg");
    background-position: bottom;
  }
}
