@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./components/nav.pcss";

@import "tailwindcss/utilities";
@import "./animations.pcss";
@import "./backgrounds.pcss";
@import "./shame.pcss";
